body {
    /*background-color: #D3DCFF;*/
    background-color: #262626;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

#info-container{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#gesture-form-div{
    border: 0.13em dashed #565656;
    border-radius: 0.2em;
    padding: 0.5em;
    min-width: 20em;
}

#live-feedback{
    border: 0.25em dashed #565656;
    border-radius: 0.2em;
    padding: 0.25em;
}

#retrieved-data{
    border: 0.13em dashed #565656;
    color: #E3E3E3;
    border-radius: 0.2em;
    padding: 0.5em;
    height: 15em;
    min-width: 20em;
    overflow: scroll;
}

.text-input{
    background-color: #E3E3E3;
    border: 0.2em solid #E3E3E3;
    border-radius: 5em;
    padding: 0.3em;
    margin-left: 0.5em;
    outline: none;
}

.text-input:focus{
    border: 0.2em solid #1d89ff;
    transition: all .1s ease-in-out;
}

.checkbox{
    border-radius: 5em;
}

.button {
    background-color: #1d89ff;
    border: 0.1em solid #1d89ff;
    border-radius: 5em;
    padding: 0.7em;
    color: #E3E3E3;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: #262626;
    border: 0.1em solid #1d89ff;
}
